body {
/*	background-color: #f0fff0; */  /* super pale green */
/*	background-color: #f5f5e8; /* /* parchment */
/*	background-color: #f4f4ff; */  /* super pale blue */
	background-color: #ffffff;  /* white */
	color: black;
}

div.nav a {
	text-decoration: none;
	color: black;
}

div.nav a[href^="http://"]:after, div.nav a[href^="https://"]:after {
/*
  content: url('/pic/Icon_External_Link.png');
*/
  background-image: url('/pic/Icon_External_Link.png');
  background-size: 0.9em 0.9em; /* 12px 12px; */
  margin: 0 0 0 0.5em;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  content: "";
}

div.content a[href^="http://"]:after, div.content a[href^="https://"]:after {
  content: none;
}

p.centered img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

:focus, :active {
  outline: 0;
}

.top {
/* these lines clear the float before starting nav and content */
	overflow: auto;
	width: 100%;
}

.home {
	float: left;
	width: 24%;
}

.logo {
	text-align: center;
	vertical-align: middle;
/*	line-height: 128px; */
	font-family: 'Libre Barcode 128 Text', cursive;
	font-size: 300%;
	font-size: 4vw;
	white-space: nowrap;
    margin-top: 0.8em;
}

.logo a {
	text-decoration: none;
	color: black;
}

.coverpic {
	float: left;
	width: 74%;
}

.coverpic img {
	border-radius: 8px;
}

.nav {
	width: 24%;
	float: left;
}

#accordion {
  width: 80%;
  margin: 0px auto;  /* no top margin + centered L/R */
 /* font-family: 'Cantarell', sans-serif; */
  font-family: 'Oswald', sans-serif;
	font-size: 100%;
	font-size: 1.5vw;
}

#accordion .ui-accordion-header {
  background-color: #f2f2f2;
  margin: 0px;  /* removes default top/bottom margins from the h3 */
  background-image: linear-gradient(to bottom,  #f2f2f2 0%,#e0e0e0 100%);
}

#accordion .ui-accordion-header-active {
  background: #a0a0a0 !important;
  margin: 0px;  /* removes default top/bottom margins from the h3 */
  background-image: linear-gradient(to bottom,  #a0a0a0 0%,#606060 100%) !important;
}

#accordion .ui-accordion-content {
  background-color: #f3f3f3;
  font-size: 85%;
}

#accordion .ui-accordion-content > * {
  margin: 0;
  padding: 20px;
}

#accordion .ui-accordion-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#accordion .ui-accordion-content li {
	margin-bottom: 3px;
}

#accordion .ui-accordion-content li a:hover {
 /* background-color: #d0d0d0; */
  text-decoration: underline;
} 

.content {
	width: 74%;
	float: left;
/*	font-family: 'Balthazar', serif; */
/*	font-family: 'Quattrocento', serif; */
	font-family: 'Merriweather', serif;
	font-size: 90%;
}

.content ol {
	width: 90%;
}
.content ul{
	width: 90%;
}

.content p {
	width: 90%;
}

.content h2 {
	font-size: 120%;
    font-weight: 600;
}

.content h3 {
	font-size: 108%;
    font-weight: 600;
}

.content a img {
	border: 0;
}

textarea#sourcetext {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 97%;
}

img.ardheis {
	float: right;
	margin: 10px;
}

.footer {
  font-size: 70%;
  width: 95%;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  float: right;
  font-family: 'Merriweather', serif;
}

div.teanga {
	float: left;
	margin-top: 4px;
}

div.cearta {
	float: right;
}

div.cearta img {
	border-width:0;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 5px;
}

.footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

table.fleiscin {
	border-collapse: collapse;
}

table.fleiscin td {
	border: 1px solid #ddd;
	padding: 8px;
}

table.fleiscin tr:nth-child(even) {
	background-color: #f2f2f2;
}

table.fleiscin th {
    font-weight: 600;
	border: 1px solid #ddd;
	padding: 10px;
}
